 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }
body{
    background-image: url(../images/site-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.book-now{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    max-width: 65vw;
    min-height: 500px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

.calendar{
    display: flex;
    justify-content: space-between;
}

.calendar-header{
    padding-top: 130px;
}
.calendar-header h1{
    font-family: "name-font";
    font-size: clamp(20px, 5vw, 40px);
    margin-top: 8%;
    margin-right: 20%;
    margin-bottom: 15px;
    letter-spacing: 5px;
    line-height: 45px;
}

.calendar-header p{
    font-family: "thin-font";
    font-weight: bold;
    margin-bottom: 10%;
}
.calendar-header a{
    color: black;
    font-family: "thin-font";
    font-weight: bold;
}

.calendar-header-second{
    font-family: "thin-font";
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#time-zone{
    font-size: clamp(13px, 1vw, 15px);
}

.book-now-line{
    height: 0.5px;
    background-color: black;
    width: 100%;
    margin-bottom: 15px;
}

.calendar-weekday{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    font-family: "thin-font";
    font-weight: bold;
}

.calendar-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-top: 20px;
    font-family: "thin-font";
    font-weight: bold;
    text-align: center;
}

.calendar-times{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    text-align: center;
    font-family: "thin-font";
    font-weight: bold;

}

.calendar-times p{
    border: 2px solid gray;
    padding: 15px 40px;
}

.date{
    font-family: "thin-font";
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
}

.calendar{
    display: flex;
    justify-content: space-around;
}

.styled-button{
    background-color: black;
    color: white;
}

.styled-number{
    color: gray;
}

.calendar-number{
    text-align: center;
    padding: 5px;
}

.colored-number{
    background-color: black;
    color: white;
}

.book-now-bottom h4{
    padding-top: 10%;
    padding-bottom: 10px;
    font-family: "thin-font";
    font-weight: bold;
    letter-spacing: 2px;
}

.book-now-bottom h5{
    padding-bottom: 10px;
    font-family: "thin-font";
    font-weight: bold;
    font-size: 15px;
}

.book-now-bottom p{
    font-family: "thin-font";
    font-weight: bold;
    font-size: 14px;
}

.book-now-bottom button{
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width: 1200px){
    .calendar{
        flex-direction: column;
    }

    .calendar-times{
        margin-top: 15px;
    }
    .calendar-header{
        padding-top: 30px;
    }

    .calendar-header-second{
        flex-direction: column;
    }
    .date{
        flex-direction: column;
        gap: 5px;
    }
     .calendar-header{
        padding-top: 100px;
    }

}


@media screen and (max-width: 700px){
    .calendar-times p{
        padding: 8%;
    }
}
@media screen and (max-width: 900px){
    .calendar-header{
        padding-top: 20px;
    }

}


@media screen and (max-width: 600px){
    .calendar-days{
        gap: 5px;
    }
    .book-now{
        max-width: 90vw;
    }
}


@media screen and (max-width: 500px){
    .calendar-days{
        font-size: 13px;
    }
    .date{
        font-size: 14px;
    }
    .calendar-header h1{
        line-height: 30px;
    }
    .calendar-header p{
        font-size: 14px;
        line-height: 18px;
    }
    .calendar-header-second{
        gap: 10px;
    }

}


