.chat-icon {
    display: flex;
    background-color: black;
    color: white;
    gap: 10px;
    padding: 20px 40px;
    width: fit-content;
    position: fixed;
    bottom: 1px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}