 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }

.chat-icon {
    display: flex;
    background-color: black;
    color: white;
    gap: 10px;
    padding: 20px 40px;
    width: fit-content;
    position: fixed;
    bottom: 1px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    font-family: "thin-font";
    font-weight: bold;
}

.chat-icon-responsive{
    display: none;
    background-color: black;
    border-radius: 50%;
    padding: 20px;
    width: fit-content;
}

@media screen and (max-width: 900px) {
    .chat-icon-responsive{
        display: block;
        
    }

}