 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }
.dashboard-main{
    background-color: rgb(227, 232, 232);

}

.dashboard-main h1{
    font-size: clamp(16px, 4vw, 30px);
    font-family: "name-font";
    letter-spacing: 3px;
    padding-top: 120px;
    text-align: center;
}

.dashboard-first-line{
    display: flex;
    flex-wrap:wrap ;
    gap: 3%;
    padding: 20px;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

.input-dashboard, .first-select, .second-select{
    width: 20%;
    align-content: left;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    min-width: 200px;
    margin-top: 10px;
}

.dashboard-boxes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box-dashboard{
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    max-width: 200px;
    min-width: 200px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.box-dashboard h3{
    padding-bottom: 30px;
    color: gray;
    font-family: "thin-font";
    font-weight: bold;
}

.biger-p{
    font-family: "name-font";
    font-size: clamp(16px, 2vw, 30px);
    color: #317F81;
    margin: px;
    padding-bottom: 10px ;
}
.main-chart{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    gap: 60px;
}

.bubble-chart {
  position: relative;
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  border-left: 2px solid #ddd;;
  border-bottom: 2px solid #ddd;;
  margin-bottom: 50px;
  padding-bottom: 40px;
}

.bubble {
  position: absolute;
  border-radius: 50%;
}

.pink {
  background: rgb(91, 91, 176);
  width: 60px;
  height: 60px;
}

.green {
  background: rgb(135, 143, 47);
  width: 40px;
  height: 40px;
}

.brown {
  background: rgb(155, 74, 74);
  width: 70px;
  height: 70px;
}
.bubble:nth-child(1)  { top: 20px;  left: 40px; }
.bubble:nth-child(2)  { top: 80px;  left: 120px; }
.bubble:nth-child(3)  { top: 40px;  left: 220px; }
.bubble:nth-child(4)  { top: 150px; left: 300px; }

.bubble:nth-child(5)  { top: 200px; left: 60px; }
.bubble:nth-child(6)  { top: 260px; left: 150px; }
.bubble:nth-child(7)  { top: 160px; left: 210px; }

.bubble:nth-child(8)  { top: 310px; left: 40px; }
.bubble:nth-child(9)  { top: 280px; left: 140px; }
.bubble:nth-child(10) { top: 300px; left: 240px; }

.bubble:nth-child(11) { top: 100px; left: 350px; }
.bubble:nth-child(12) { top: 200px; left: 380px; }
.bubble:nth-child(13) { top: 300px; left: 420px; }
.bubble:nth-child(14) { top: 120px; left: 50px; }

.y-axis {
  position: absolute;
  left: -30px;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 9%;
  justify-content: flex-start;
  font-size: 12px;
  padding-top: 25px;
  color: gray;
}

.x-axis {
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 8%;
  font-size: 12px;
  padding-bottom: 40px;
  color: gray;
}

/*  ანიმაციები რომელიც გადასახედი მაქვს */

.box-dashboard h3,
.box-dashboard p {
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 0.6s ease forwards;
}

.box-dashboard h3 {
    animation-delay: 0.1s;
}

.box-dashboard p:nth-of-type(1) {
    animation-delay: 0.3s;
}

.box-dashboard p:nth-of-type(2) {
    animation-delay: 0.5s;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    60% {
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.bar-chart {
    position: relative;
    width: 500px;
    height: 400px;
    background: white;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.bar {
    width: 40px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
}

.bar:hover {
    transform: scale(1.05);
}

.segment {
    width: 100%;
}  

.blue {
    background: #4F8CFF;
    height: 40px;
}

.red {
    background: #FF6B6B;
    height: 60px;
}

.orange {
    background: #FFB84D;
    height: 80px;
}

.yellow {
    background: #FFD93D;
    height: 120px;
}

#s1 {
     height: 30px;
    }
#s2 { 
    height: 60px;
    }
#s3 { 
    height: 40px; 
    }
#s4 { 
    height: 90px; 
    }
#s5 {
    height: 70px; 
    }
#s6 { 
    height: 20px; 
    }
#s7 { 
    height: 100px;
    }
#s8 { 
    height: 50px; 
}

#s9{
    height: 70px;
}

#s10{
    height: 40px;
}

#s11{
    height: 20px;
}

#s12{
    height: 10px;
}

.bar-chart .y-axis {
  position: absolute;
  left: -30px;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
}

.bar-chart .x-axis {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
}