 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }

 header{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
 }
.container {
    display: flex;
    padding: 35px;
    justify-content: flex-start;
    gap: 100px;
    margin-left: 18.5%;
}

.right-side{
    display: flex;
    align-items: center;
}
.name{
    margin-bottom: 14.5px; 
    font-family: "name-font";
    font-size: larger;
    letter-spacing: 4px;
}
.coach{
   color: #555555;
    font-family: "thin-font";
    font-weight:600;
    letter-spacing: 1px;
}
.left-side{
    place-items: center;
}

nav {
    display: flex;
    gap:30px;
}

a{
    color: black;
    font-family: "thin-font";
    font-weight:600;
}
.login-photo{
    width: 30px;
}
#login, .login{
    gap: 5px;
    color: rgb(18, 169, 154);
}