 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }

 header{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    z-index: 5;
 }
.container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 0px;
    justify-content: center;
    gap: 8vw;
}

.right-side{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.name {
    font-family: "name-font";
    font-size: larger;
    letter-spacing: 4px;
    text-align: center;
}
.coach{
   color: #555555;
    font-family: "thin-font";
    font-weight:600;
    letter-spacing: 1px;
}
.left-side{
    place-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-nav {
    display: flex;
    gap:40px;
}

a{
    color: black;
    font-family: "thin-font";
    font-weight:600;
}
a:hover{
    color: rgb(91, 168, 160);
}
.login-photo{
    width: 30px;
}
#login, .login{
    gap: 5px;
    color: rgb(18, 169, 154);
}




