 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }

 header{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    z-index: 5;
 }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5%;
    padding: 20px 20px;
}

.right-side{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.name {
    color: black;
    font-family: "name-font";
    font-size: clamp(18px, 3vw, 20px);
    letter-spacing: 4px;
    text-align: center;
}

.coach{
    color: #555555;
    font-size: clamp(10px, 1vw, 20px);
    font-family: "thin-font";
    font-weight:600;
    letter-spacing: 1px;
}

.left-side{
    place-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-nav {
    display: flex;
    gap:3vw;
}

nav a{
    color: black;
    font-family: "thin-font";
    font-weight:600;
}
nav a:hover{
    color: rgb(91, 168, 160);
}

.login-photo{
    width: 30px;
}

#login, .login{
    gap: 5px;
    color: rgb(18, 169, 154);
}

#burger-button{
    display: none;
}

.mobile-burger-nav{
    display: none;
}

.menu-open #burger-button{
    display: none;
}

.menu-open .left-side{
    display: none;
}

#burger-button{
    display: none;
    font-size: 28px;     
    background: none;     
    border: none;
    cursor: pointer;
    color: black;
    padding: 5px 10px;
}

#burger-button:hover{
    color: rgb(91, 168, 160);
}


@media screen and (max-width: 900px){
    #burger-button{
        display: block;
    }

    .header-nav{
        display: none;
    }
    
    header{
        justify-content: flex-start;
        position:relative;
    }

    .container{
        justify-content: space-between;
        padding: 5px 10px;
    }

    .name{
        text-align: left;
    } 

   .left-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .mobile-burger-nav{
        position: fixed;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100vh;
        background: white;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
    }

    .mobile-burger-nav.active{
        opacity: 1;
        pointer-events: auto;
    }

    .mobile-header-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 20%;

    }


    .mobile-header-nav a{
        display: block;              
        width: 100%;
        text-align: center;
        padding: 14px 0;             
        border-bottom: 1px solid #ccc;
        font-size: clamp(16px, 4vw, 20px);
        font-family: "thin-font";
        color: black;
        text-decoration: none;
    }

    #login-mobile{
        color: rgb(18, 169, 154);
        border-bottom: none;
        padding-bottom: 10px;
        font-size: clamp(16px, 4vw, 25px);

    }

    .mobile-header-nav a:hover{
        color: rgb(91, 168, 160);
    }
    .close-nav{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

 

