
 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }
 
 html{
    scroll-behavior: smooth;
 }
 
 div{
    scroll-margin-top: 90px;
 }
 
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;    
}
.video-bg{
    position: fixed;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    overflow: hidden;
}

.content{
    /* position: relative; */
    /* z-index: 1; */
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#btn{
    background-color: black;
    color: white;
    padding: 10px 15px;
    width: fit-content;
    align-self: center;
}

.content p {
    font-size: clamp(14px, 2vw, 20px);
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "name-font";
}

.content h1 {
    font-size: clamp(60px, 10vw, 100px);
    font-family: "name-font";
    letter-spacing: 20px;
}

.content h5 {
    font-family: "thin-font";
    letter-spacing: 1px;
}

.content button {
    background-color: black;
    color: white;
    padding: 12px 30px;
    border: 1px solid black;
    align-self: center;
}

.header-line{
    width: 2.25rem;
    height: 1.5px;
    background-color: black;
}

.header-line-two{
    margin-left: 19%;
    width: 2.25rem;
    height: 1.5px;
    background-color: black;

}
.aboutme{
   display: flex;
   background-color: white;
   justify-content: space-between;
}

.text{
    flex: 1;
    display: flex;
    flex-direction:column;
    gap: 40px;
    max-width: 400px;
    margin-top: 30px;
    margin-left: 20%;
}

.text p{
    font-family: "thin-font";
    line-height: 30px;
}

.img{
    min-height: 100vh;
    background-image: url(../images/about-me.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width: 50vw;
}

.text h2{
    font-family: "name-font";
    font-size: 42px;
    letter-spacing: 4px;
}

.text button {
    width: fit-content;
    background-color: black;
    color: white;
    padding: 12px 30px;
    border: 1px solid black;
    font-family: "thin-font";
}

button:hover{
    background-color: white;
    color: black;
}

.main-container{
    display: flex;
    background-image: url(../images/site-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.free-button{
    display: flex;
    gap: 10px;
}

#free-conslt {
    background-color: white;
    color: black;
    border: 1px solid black;
}
#free-conslt:hover{
    background-color: black;
    color: white;
}

.child-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    gap: 30px;
}

.lower{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 18px;
    justify-content: center;


}

.upper{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 50px;
}

.upper h3{
    font-size: 45px;
    font-family: "name-font";
    margin-left: 19%;
    letter-spacing: 5px;



}
.box{
    border: 8px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 26px;
    max-width: 380px;
    justify-content: center;
    gap: 30px;
    flex: 1 1 250px;
    max-width: 300px;
    font-family: "thin-font";
}


.line {
    width: 90%;
    height: 1px;
    background: black;
}

.box h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.box p{
    text-align: center;
    font-size: 14px;
}

.box button {
    width: fit-content;
    background-color: black;
    color: white;
    padding: 12px 30px;
    border: 1px solid black;
}

button:hover{
    background-color: white;
    color: black;
}


.last-button{
    width: fit-content;
    background-color: black;
    color: white;
    padding: 12px 30px;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 50px;
}


#btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}