
 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }

body{
    background-image: url(../images/site-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.members-dropdown{
    padding-top: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.members-main{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    max-width: 70vw;
    min-height: 500px;
    margin-bottom: 10%;
}

.members-child{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

.members-dropdown{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}

.members-dropdown select{
    border: none;
    font-size: clamp(14px, 2vw, 16px);
    font-family: "thin-font";
    font-weight: bold;
}
.members-dropdown input{
    border: none;
    border-bottom: 1px solid black;
}

.second-members{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}
.second-members h1{
    font-size: clamp(16px, 2vw, 30px);
    align-self: center;
    padding-bottom: 30px;
    font-family: "name-font";
    letter-spacing: 5px;
}

.second-members p{
    align-self: center;
    padding-bottom: 30px;
    font-family: "thin-font";
    font-weight: bold;
}
.second-members button{
    display: inline-block;
    width: 15%;
    padding: 10px;
    border: none;
    background-color:#317F81;
    color: white;
    align-self: center;
}

.second-members button:hover{
    background-color:#317F81;
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 700px){
    .second-members h1, p{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;  
        line-height: 30px;
    }

    .second-members button{
       width: 50%;
   
    }
}
@media screen and (max-width: 900px){
    .members-dropdown{
        padding-top: 0px;
    }
}
@media screen and (max-width: 500px){
    .members-dropdown select, label {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 10px;
    }
    .members-dropdown select{
        border-right: 1px solid black;
    }
    .members-dropdown input{
        border-bottom: none;
    }
    .members-dropdown{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
    }
}