 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }
.main-plan{
    padding-top: 90px;
    background-image: url(../images/site-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: auto;
}

.main-plan h1{
    font-family: "name-font";
    font-size: clamp(20px, 5vw, 40px);
    letter-spacing: 10px;
    text-align: center;
    padding-top: 5%;
}

.main-p{
    text-align: center;
    font-family: "thin-font";
    font-weight: bold;
    font-size: clamp(15px, 1vw, 30px);
    padding-top: 2%;
    margin-bottom: 5%;
}

.plans-box{
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-content:center;
    column-gap: 3%;
    padding-bottom: 2%;
    align-items: stretch;
}

.plan {
    display: grid;
    grid-template-rows: auto 1fr ;
    height: 100%;
}

.plan .check{
    flex-grow: 1;
}

.box-plans{
    text-align: center;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15%;
    font-family: "thin-font";
    font-weight: bold;
    line-height: 1.5;
    height: 100%;
}

.main-plan h2{
    font-size: 25px;
}

.main-plan h3{
    font-size: 40px;
}

.main-plan button {
    background-color: black;
    color: white;
    padding: 8% 5%;
}

.back-color-white{
    background-color: white;
}

.back-color{
    background-color: rgba(255, 255, 255, 0.4);
}

.icon-plan{
    width: 20px;
    margin-right: 10px;
}

.check {
    text-align: left;
}

@media (max-width: 900px) {
    .plans-box {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }
    .main-plan{
        padding-top: 30px;
    }
     .main-plan h1{
        padding-top: 0;
        padding-bottom: 10px;
    }
    .main-p{
        padding: 5px;
    }

}

@media (max-width: 600px) {
    .plans-box {
        grid-template-columns: 1fr;
        gap: 15px;
    }

}