 @font-face {
    font-family: "name-font";
    src: url("../fonts/name-font.ttf") format("opentype");
 }

 @font-face {
    font-family: "thin-font";
    src: url("../fonts/light-font.ttf") format("opentype");
 }

.readmore-container {
    background-image: url("../images/read-more.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.text-plus-photo{
    display: flex;

}
.readmore-photo {
    width: 400px;
    max-width: 100%;
    /* height: 400px; */
    object-fit: cover;
    object-position: left;
    margin-top: -250px;
    border: 10px solid white;
}


.readmore-text, h1, .certifications{
    padding-left: 20%;
    padding-right: 20%;
}

.qualifications{
    padding-right: 20%;
}
.readmore-first {
    padding-top: 165px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.readmore-first h1{
    font-size: 2.25rem;
    font-family: "name-font";
    letter-spacing: 8px;
    padding-top: 20px;
    padding-bottom: 100px;
    height: 75vh;
    margin-left: 10%
}
.readmore-line{
    width: 2.25rem;
    height: 1.5px;
    background-color: black;
    margin-left: 30%;
}

.text-plus-photo h2{
    font-size: clamp(20px, 2vw, 25px);
    font-weight: bold;
    margin-bottom: 30px;
}

.readmore-text, .certifications, .qualifications{
    background-color: white;
}

.readmore-text{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-top: 100px;
    line-height: 30px;
    font-family: "thin-font";
}
.certifications ul, .qualifications ul {
  list-style: disc;
  padding-left: 20px; 
  padding-bottom: 80px;
}

.certification-qualification{
    font-family: "thin-font";
    font-size: 15px;
    display: flex;
    width: 100%;;
}

.certification-qualification h3 {
    font-size: larger;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 1300px) {
        .text-plus-photo{
        flex-direction: column-reverse;
    }
    .text-plus-photo h2{
        margin-top: 10%;
    }
}
@media screen and (max-width: 900px ){
    .certification-qualification{
        flex-direction: column;
    }
    .qualifications{
        padding-left: 20%;
    }
    .certifications ul{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .readmore-photo{
        margin-top: -10px;
    }
    .readmore-text{
        padding-top: 0px;
    }
    .readmore-first{
        position: absolute;
    }
    .readmore-container{
        background-attachment: scroll;
    }

}